.pageContainer {
    min-width: 800px;
}

.searchBarBanner {
    position: relative;
    width: 100%;
    height: 250px;
    background: url("../../images/food.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.searchBarTitle {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 15%;
    left: 0;
}

.searchBarDiv {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 50%;
}

.searchBar{
    background: rgba(255,255,255,0.8);
}
